{% extends 'base.html' %}
{% block title %}درباره ما{% endblock title %}\
{% block content %}
<div class="container bg-light">
    <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro ab, velit, voluptatum fuga iure dignissimos culpa perspiciatis ratione fugiat dolores sapiente minima et dolorum. Sed eligendi illo fuga explicabo?
    </p>
    <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro ab, velit, voluptatum fuga iure dignissimos culpa perspiciatis ratione fugiat dolores sapiente minima et dolorum. Sed eligendi illo fuga explicabo?
    </p>
    <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro ab, velit, voluptatum fuga iure dignissimos culpa perspiciatis ratione fugiat dolores sapiente minima et dolorum. Sed eligendi illo fuga explicabo?
    </p>
    <p class="mt-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut porro ab, velit, voluptatum fuga iure dignissimos culpa perspiciatis ratione fugiat dolores sapiente minima et dolorum. Sed eligendi illo fuga explicabo?
    </p>

</div>
{% endblock content %}